meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
title = title + ' - Mock'
link(href="https://aui-cdn.atlassian.com/aui-adg/5.9.24/css/aui.min.css", rel="stylesheet")
link(href="https://common-admin-cdn.atlassian.com/atlassian-id/9.0.0/layout/base/base.less.css", rel="stylesheet")
link(href='https://common-admin-cdn.atlassian.com/atlassian-id/9.0.0/page/login/login.less.css', rel='stylesheet')
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
